<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<!-- 资源读取工具 -->
	<bean id="propertiesLoader" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<array>
				<value>classpath:global.properties</value>
			</array>
		</property>
		<property name="fileEncoding" value="UTF-8"></property>
		<property name="trimValues" value="true"></property>
	</bean>

	<!-- 启动注解配置 -->
	<mvc:annotation-driven/>
	<context:component-scan base-package="com.scholar" use-default-filters="false" name-generator="com.scholar.mvc.framework.bean.ProjectBeanNameGenerator">
		<context:include-filter type="annotation" expression="org.springframework.web.method.ControllerAdviceBean"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!-- 静态资源映射 -->
	<mvc:resources location="classpath:" mapping="/classpath:*/**" />
	<mvc:resources location="/static" mapping="/static/**" />
	<mvc:resources location="/" mapping="/**" />
	
	<!-- freemarker视图解析器 -->
    <bean id="viewResolverFtl" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
        <property name="contentType" value="text/html; charset=UTF-8"/>
        <property name="exposeRequestAttributes" value="true"/>
        <property name="exposeSessionAttributes" value="true"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="cache" value="true"/>
        <property name="suffix" value=".html"/>
        <property name="requestContextAttribute" value="request" />
        <property name="order" value="0" />
    </bean>

	<!-- 文件上传解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 指定所上传文件的总大小不能超过50M。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
        <property name="maxUploadSize" value="52428801"/>
        <property name="maxInMemorySize" value="1" />
        <property name="resolveLazily" value="true"/>
    </bean>
</beans>
